<%= form_for(@contact_price) do |f| %>
  <% if @contact_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_price.errors.count, "error") %> prohibited this contact_price from being saved:</h2>

      <ul>
      <% @contact_price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :product_id, :value => params[:id] %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :qty %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Ask Price"%>
  </div>
<% end %>
