<div class="sliderLeftColumn">
  <div class="coda-slider" id="lll-id" style="width: 100%;">
    <% @back_images = BannerImage.all %>
    <% for image in @back_images %>
      <div><h2 class="title"><%= link_to image.image_description.slice(0..300), "#", :style => "color: white;" %></h2><img title="" src="<%= image.image.url(:original) %>" width='1000' height="400"/></div>
    <% end %>
  </div>
</div>
<div class="clearFix"></div>
<div class="content">
  <div class="heading-greatWay">
    <span>Great Way To Purchase</span><br>
    <strong><h4>EXQUISITE HAND CRAFTED PRODUCTS</h4></strong>
    <em>Redfine your living experience with our unique collection</em>
  </div>
<!--   <div class="commonrow">
    <h1><span>Featured Handicraft</span></h1>
    <div class="list_carousel h225">
      <ul id="caroulproduct1">
        <% for cause in @causes  %>
          <li>
            <%#= link_to image_tag(cause.image.url(:original), :width => "305", :height => "210"), cause_path(cause) %>
            <h4 style="bottom: 0px; left: 0px;"><%#= link_to cause.title, cause_path(cause), :style => 'color: #ffffff;text-decoration: none;' %></h4>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
      <a id="prev21" class="prev" href="#">&lt;</a>
      <a id="next21" class="next" href="#">&gt;</a>
      <div id="pager21" class="pager"></div>
    </div>
  </div> -->
  <div class="commonrow">
    <h1><span>Featured Products</span></h1>
    <div class="list_carousel">
      <ul id="caroulproduct">
        <% for product in @products  %>
          <li>
            <%= link_to image_tag(product.images.first.image.url(:original), :width => "226", :height => "265"), product_path(product) %>
            <%= render :partial => '/carts/products', :locals => {:product => product} %>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
      <a id="prev2" class="prev" href="#">&lt;</a>
      <a id="next2" class="next" href="#">&gt;</a>
      <div id="pager2" class="pager"></div>
    </div>
  </div>
  <div class="categoriesCaroul caroulCategories">
    <h1><span>Categories</span></h1>
    <div class="list_carousel">
      <ul id="caroulproduct2">
        <% Product.where("title is not null and status = 'confirmed'").group(:category_id).each do |product|  %>
          <li>
            <%= link_to image_tag(product.images.first.image.url(:original), :width => "217", :height => "170"), category_path(:categories => product.category_id) %>
            <h4><%= product.category.name %></h4>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
      <a id="prev212" class="prev" href="#">&lt;</a>
      <a id="next212" class="next" href="#">&gt;</a>
      <div id="pager212" class="pager"></div>
    </div>
    <div class="box-newsletter">
      <div class="newsletter-signup">
        <div id='email_alert'>
          <%= render :partial => 'email_alert' %>
        </div>
      </div>
      <div class="column-share">Find us on:</div>
      <ul class="list-media">
        <%= render 'layouts/social' %>
      </ul>
    </div>
  </div>
  <div class="clearFix"></div>
</div>
<script>
  $(function() {
    $('#lll-id').codaSlider({
      autoSlide: true,
      autoHeight: false
    });
  });

  $(function() {
    //	Scrolled by user interaction
    $('#caroulproduct1').carouFredSel({
      prev: '#prev21',
      next: '#next21',
      items: 3,
      pagination: "#pager21",
      auto: false
    });
    $('#caroulproduct2').carouFredSel({
      prev: '#prev212',
      next: '#next212',
      items: 4,
      pagination: "#pager212",
      auto: true,
      auto: {
        pauseOnHover: 'resume'
      }
    });
    $('#caroulproduct').carouFredSel({
      prev: '#prev2',
      next: '#next2',
      pagination: "#pager2",
      items: 4,
      auto: true,
      auto: {
        pauseOnHover: 'resume'
      }
    });
  });
</script>