<li class="icon-twitter"><%= link_to "twitter", "#" %></li>
<li class="icon-facebook"><%= link_to "facebook", "#" %></li>
<li class="icon-googlePlus"><%= link_to "google plus", "#" %></li>
<li class="icon-pinterest"><%= link_to "pintrest", "#" %></li>
<li class="icon-youtube"><%= link_to "you tube", "#" %></li>